/* General setup */
* {
  margin: 0;
  padding: 0;
  cursor: url(../Cursor/cursor.cur), auto;
}

body {
  min-height: 100vh;
  background-image: url(../Images/background.jpg);
}

/* Navbar setup starts here  */
.nav-bar {
  box-shadow: 0.5rem 0.5rem 1rem #9a4bc5;
  background-color: #be79e3c6;
  backdrop-filter: blur(1px);
  position: sticky;
  top: 0;
  min-width: 100dvw;
}

.nav-bar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5vw;
}

.nav-bar li {
  height: clamp(2rem, 10vh, 3.5rem);
}

.nav-bar a {
  text-decoration: none;
  padding: 0 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  color: initial;
  background-color: white;
  border: 2px solid #4819b5;
  border-radius: 1.5em;
  transition: 0.2s;
}

.nav-bar .menu {
  display: none;
}

.nav-bar a:hover {
  box-shadow: inset 0 0 1rem #9a4bc5;
}

.nav-bar a:active {
  opacity: 0.7;
  transition: 0.1s;
}

/* Side-bar setup starts here  */
.nav-bar .side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #be79e3c6;
  box-shadow: -0.5rem 0.5rem 1rem #9a4bc5;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-bar .side-bar a {
  justify-content: center;
  align-content: center;
}

#close {
  padding: 0;
  width: 20%;
  height: 50px;
  border-radius: 50%;
}

.nav-bar .side-bar li {
  width: 100%;
}

/* Media queries start here */
@media (max-width: 800px) {
  .nav-bar .hideOnMobile {
    display: none;
  }
  .nav-bar ul {
    justify-content: flex-end;
  }
  .nav-bar .menu {
    display: block;
  }
}

@media (max-width: 450px) {
  .nav-bar .side-bar {
    width: 100%;
  }
  #close {
    width: 50px;
  }
}
